<!DOCTYPE html>
<html>
    <head>
        <title>Chat App</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>
        <ul id="messages">
            <!-- Loop through the messages and display them -->
            {% for message in messages %}
                <li>{{ message.content }}</li>
            {% endfor %}
        </ul>
        <form id="message_form">
            <input type="text" id="message_input">
            <button type="submit">Send</button>
        </form>
    </body>
</html>